.SubNavbar {
    text-align: center;
    width: 100%;
  }

.NavbarContainer {
  box-shadow: initial !important;
  background-color: transparent !important;
}
  
.Navbar {
  justify-content: space-between;
}

.logo-link {
  color: black;
  text-decoration: none;
}