@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100%;
}

.SubRouter {
    height: 100%;
    display: flex;
}

.Navigation {
    height: 100%;
    min-width: 300px;
    max-width: 300px;
    background-color: #2d2d2d;
}

.Navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.NavigationItem a {
    display: block;
    padding: 12px;
    transition: .3s;
}

.NavigationItem a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.Navigation a {
    text-decoration: none;
    color: #fff;
}

.title-btn {
    display: flex;
    justify-content: space-between;
}

.admin-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.admin-form form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo {
    padding: 10px;
    width: 200px;
}